  <p>
    <%= f.label :username %><br/>
    <%= f.text_field :username, placeholder: "Enter a username" %>
  </p>

  <p>
    <%= f.label :password %><br/>
    <%= f.text_field :password, placeholder: "Enter a password" %>
  </p>

  <p>
    <%= f.label 'Confirm Password' %><br/>
    <%= f.text_field :password, placeholder: "Confirm the password here" %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>