<div>
  <div class="flex"><h4>Comment for Article# <%= comment.article.id %></h4><div><%= link_to 'Edit', edit_comment_path(comment.article_id)%></div><div><%= button_to 'Delete', delete_comment_path(comment.id), data:{ turbo_method: :delete, turbo_confirm: 'Are you sure?' }, method: :delete %></div></div>
  <p class="comment"><%= comment.comment_body %></p>
  <p>Posted <%= comment.created_at.to_formatted_s(:nice) %></p>
</div>