<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Body</th>
      <th><%= link_to "Articles", articles_path %></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @article.id %> </td>
      <td><%= @article.name %> </td>
      <td><%= @article.body %> </td>
    </tr>
  </tbody>
</table>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>