<td><%= user.id %> </td>
      <td><%= user.username %> </td>
      <td><%= user.password %> </td>
      <td><%= user.created_at %> </td>
      <td><%= link_to 'View user profile', user_path(user.id) %> </td>
